/* Header.css */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600&family=Poppins:wght@400;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: rgba(0, 0, 0, 0.7);
  position: sticky;
  top: 0;
  z-index: 10;
  font-family: 'Poppins', sans-serif;
  unicode-bidi: isolate;
  background-image: url('https://plus.unsplash.com/premium_photo-1682146749338-f380c93c8dec?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

.header .logo {
  display: flex;
  align-items: center;
}

.header .logo span {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  margin-left: 10px;
}

.app-name {
  margin-left: 10px; /* Adjusted for mobile */
}

.header nav {
  display: flex;
  font-size: 22px;
  gap: 15px;
}

.header .nav-link {
  font-family: 'Poppins', sans-serif;
  color: #fff;
  text-decoration: none;
  padding: 2px;
  border-radius: 5px;
  transition: all 0.6s ease;
  position: relative;
}

.header .nav-link:hover {
  color: #23bbe4;
  background-color: white;
  border: 1px solid aqua;
}

.header .nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.6s ease; /* Adjusted timing */
}

.header .nav-link:hover::after {
  width: 100%;
}

@media (max-width: 768px) {
  .header {
    flex-direction: flex;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;
  }

  .header nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px 20px;
    width: 100%;
    box-shadow: none;
    border: none;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 10px;
  }

  .header .nav-link {
    font-size: 16px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 8px 0;
    border-radius: 4px;
    margin: 0;
  }

  .app-name {
    margin-left: 0;
  }
}

.MuiDrawer-paper {
  background-color: rgba(0, 0, 0, 0.7) !important;
  color: white !important;
}

.MuiListItemText-root {
  color: white !important;
}

.MuiDrawer-paper::-webkit-scrollbar {
  display: none;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.app-name {
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 1px;
}

.nav {
  display: flex;
  gap: 20px;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.nav-link:hover {
  text-decoration: underline;
}
